[package]
name = "lightswitch"
version = "0.1.0"
edition = "2021"

[workspace]
members = [
    "lightswitch-proto",
]

[dependencies]
gimli = "0.31.0"
object = "0.36.3"
memmap2 = "0.9.4"
lazy_static = "1.5.0"
anyhow = "1.0.86"
thiserror = "1.0.63"
libbpf-rs = { version = "0.23.3", features = ["static"] }
perf-event-open-sys = "4.0.0"
libc = "0.2.158"
errno = "0.3.9"
plain = "0.2.3"
procfs = "0.16.0"
ring = "0.17.8"
data-encoding = "2.6.0"
page_size = "0.6.0"
clap = { version = "4.5.16", features = ["derive", "string"] }
blazesym = "0.2.0-rc.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
chrono = "0.4.38"
inferno = "0.11.21"
primal = "0.3.3"
nix = { version = "0.29.0", features = ["user"] }
prost = "0.12" # Needed to encode protocol buffers to bytes.
reqwest = { version = "0.12", features = ["blocking"] }
lightswitch-proto = { path = "./lightswitch-proto"}
ctrlc = "3.4.5"
v = "0.1.0"
crossbeam-channel = "0.5.13"

[dev-dependencies]
assert_cmd = { version = "2.0.16" }
insta = { version = "1.39.0", features = ["yaml"] }
rstest = "0.21.0"
tempdir = "0.3.7"
rand = "0.8.5"
criterion = "0.5.1"

[build-dependencies]
bindgen = "0.69.4"
libbpf-cargo = "0.23.3"
glob = "0.3.1"

[profile.dev.package."*"]
opt-level = 3

[[bench]]
name ="benchmark"
harness = false
