[package]
name = "lightswitch"
version = "0.1.0"
edition = "2021"

[dependencies]
gimli = "0.28.1"
object = "0.34.0"
memmap2 = "0.9.4"
lazy_static = "1.4.0"
anyhow = "1.0.81"
thiserror = "1.0.58"
libbpf-rs = { version = "0.22.1", features = ["static"] }
num_cpus = "1.16.0"
perf-event-open-sys = "4.0.0"
libc = "0.2.153"
errno = "0.3.8"
plain = "0.2.3"
procfs = "0.16.0"
ring = "0.17.8"
data-encoding = "2.5.0"
page_size = "0.6.0"
clap = { version = "4.5.3", features = ["derive", "string"] }
blazesym = "0.2.0-alpha.10"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
chrono = "0.4.35"
inferno = "0.11.19"
primal = "0.3.2"

[dev-dependencies]
assert_cmd = { version = "2.0.14" }
insta = { version = "1.38.0", features = ["yaml"] }
rstest = "0.18.2"

[build-dependencies]
bindgen = "0.69.4"
libbpf-cargo = "0.22.1"

[profile.dev.package]
insta.opt-level = 3
similar.opt-level = 3
