name: ci
on:
  pull_request:
  push:
      branches:
        - main

jobs:
  ci:
    runs-on: ubuntu-22.04
    permissions:
        id-token: write
        contents: read
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
    - uses: DeterminateSystems/flakehub-cache-action@f7831e2a80f884ef16bbbd09a60823b4cf191069 # v2
    - name: Show nix version
      run: nix --version
    - name: Set up nix dev env
      run: nix develop --command echo 0
    - name: Set nix rustc env var
      run: echo "NIX_RUSTC_VERSION=$(nix develop --ignore-environment --command rustc --version --verbose | tr -d '\n')" >> $GITHUB_ENV
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      with:
        key: ${{ env.NIX_RUSTC_VERSION }}
    - name: Run `cargo check`
      run: nix develop --ignore-environment --command cargo check
    - name: Run `cargo clippy`
      run: nix develop --command cargo clippy --workspace --all-targets -- -D warnings
    - name: Run `cargo test`
      run: nix develop --command cargo test --workspace
    - name: Run `cargo fmt`
      run: nix develop --command cargo fmt --check
    - name: Run `nix fmt`
      run: nix fmt -- --check .
    - name: Run `cargo shear`
      run: nix develop --command cargo shear

  ci-arm:
    runs-on: ubuntu-22.04-arm
    permissions:
        id-token: write
        contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
      - uses: DeterminateSystems/flakehub-cache-action@f7831e2a80f884ef16bbbd09a60823b4cf191069 # v2
      - name: Set up nix dev env
        run: nix develop --command echo 0
      - name: Set nix rustc env var
        run: echo "NIX_RUSTC_VERSION=$(nix develop --ignore-environment --command rustc --version --verbose | tr -d '\n')" >> $GITHUB_ENV
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          key: ${{ env.NIX_RUSTC_VERSION }}
      - name: Run `cargo check`
        run: nix develop --ignore-environment --command cargo check
      - name: Run `cargo test`
        run: nix develop --command cargo test --workspace