name: static build and upload
on:
  pull_request:
  push:
      branches:
        - main

jobs:
  static-build:
    runs-on: ubuntu-22.04
    permissions:
        id-token: write
        contents: read

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196 # v20
    - uses: DeterminateSystems/flakehub-cache-action@134cf641155463d87d343c6cb2b7970089967b99 # v2

    - name: Show nix version
      run: nix --version

    - name: Set up nix dev env
      run: nix develop --command echo 0

    - name: Set nix rustc env var
      run: echo "NIX_RUSTC_VERSION=$(nix develop --ignore-environment --command rustc --version --verbose | tr -d '\n')" >> $GITHUB_ENV

    - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
      with:
        key: ${{ env.NIX_RUSTC_VERSION }}

    - name: Build `lightswitch` statically linked with glibc
      run: nix develop --ignore-environment --command bash -c 'RUSTFLAGS="-C target-feature=+crt-static" cargo build --release --target x86_64-unknown-linux-gnu'

    - name: Show size
      run: ls -lah target/x86_64-unknown-linux-gnu/release/lightswitch

    - name: Run `ldd`
      run: ldd target/x86_64-unknown-linux-gnu/release/lightswitch

    - name: Upload binary
      if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
      uses: actions/upload-artifact@main
      with:
        name: lightswitch-x86_64
        path: target/x86_64-unknown-linux-gnu/release/lightswitch