name: static build and upload
on:
  pull_request:
  push:
      branches:
        - main

jobs:
  static-build:
    runs-on: ubuntu-22.04
    permissions:
        id-token: write
        contents: read

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
    - uses: DeterminateSystems/flakehub-cache-action@d39cfe6160f63a02c91cf19dcce0e905758c66c6 # v2

    - name: Show nix version
      run: nix --version

    - name: Set up nix dev env
      run: nix develop --command echo 0

    - name: Set nix rustc env var
      run: echo "NIX_RUSTC_VERSION=$(nix develop --ignore-environment --command rustc --version --verbose | tr -d '\n')" >> $GITHUB_ENV

    - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      with:
        key: ${{ env.NIX_RUSTC_VERSION }}

    - name: Build `lightswitch` statically linked with glibc
      run: nix develop --ignore-environment --command bash -c 'RUSTFLAGS="-C target-feature=+crt-static" cargo build --release --target x86_64-unknown-linux-gnu'

    - name: Show size
      run: ls -lah target/x86_64-unknown-linux-gnu/release/lightswitch

    - name: Run `ldd`
      run: ldd target/x86_64-unknown-linux-gnu/release/lightswitch

    - name: Upload binary
      if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
      uses: actions/upload-artifact@main
      with:
        name: lightswitch-x86_64
        path: target/x86_64-unknown-linux-gnu/release/lightswitch