name: vmtests
on:
  pull_request:
  push:
      branches:
        - main

jobs:
  vmtests:
    runs-on: ubuntu-22.04
    permissions:
        id-token: write
        contents: read

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
    - uses: DeterminateSystems/flakehub-cache-action@a09b82cd3b1c66a93894d2071510aac1441d2f39 # v2

    - name: Install system dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt-get update && sudo apt-get -y install --no-install-recommends qemu-system-x86 qemu-guest-agent

    - name: Show nix version
      run: nix --version

    - name: Run kernel tests
      run: nix run .#vmtest